body {
  color: #304455;
}
code, pre {
  font-family: "Roboto Mono", Monaco, courier, monospace;
  font-size: 0.85em;
  background-color: #f8f8f8;
}

code {
  color: #d63200;
  padding: 3px 5px;
  margin: 0 2px;
  border-radius: 2px;
  white-space: nowrap;
}

th {
  background-color: #f6f8fa;
}

blockquote {
  padding: 10px 15px;
  color: #777;
  border-left: 4px solid #ddd;
  margin: 0;
  background: #f8f8f8;
  margin-bottom: 1em;
}

td, th {
  border: 1px solid #dfe2e5;
}
